*{
    margin: 0;
    padding: 0;
}

body{
    background: #cbd8de;
}

.LogoImg{
float: left;
 width: 30px;
 margin-top: 2%;
 margin-left: 3%
}

main{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between; /*lo separa,no me gusta */
}

.seccion1{
    width: 75%;
}

.area{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    border: none;
    outline: none;
    font-size: 25px;
    color: #0A3871;
    background: #cbd8de;
}

p{
 font-size: 20px;
 padding: 1px;
}

.contenedor-botones{
   width: 85%;
   margin-left: 10%;
}

.btn-encriptar{
    background-color: #2c578d;
    color: #E5E5E5;
}

.btn-desencriptar{
    background-color: #99a7ba;
    color: black;
    margin-left: 3%;
}

.btn-encriptar, .btn-desencriptar{
   width: 30%;
   height: 10%;
   font-size: 20px;
   border-radius: 15px;
}

#limpiar{
   width: 20%;
   height: 5%;
   margin-left: 20%;
   margin-top: 1%;
   border-radius: 25px;
   background-color: #de095bd7;
   font-size: 15px;
   color: #E5E5E5;
}

.seccion2{
    width: 25%;
    border-radius: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background-color: rgb(244, 237, 237);
}

.muneco{
 width: 80%;
 height: 98%;
 margin-top: 1%;
 margin-left: 2%
}

.contenedor-muneco{
    width: 100%;
    height: 60%;
    padding-top: 90px;
    box-sizing: border-box;
    overflow: hidden;
}

h3{
    width: 80%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 35%;
    text-align: center;
}

#resultado-final{
    margin-top: 3%;
    width: 100%;
    height: 90%;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #0A3871;
    padding: 55px;
    background-color: rgb(244, 237, 237);
}

.contenedor-copiar{
    width: 100%;
    height: 20%;
}

#btn-copiar{
    width: 40%;
    height: 35px;
    display: block;
    margin: center;
    background: #bec6d2;
    border-radius: 15px;
    font-size: 25px;

}

.ocultar{
    display: none;
}

.pie-pagina {
    text-align: center;
    font-size: 20px;
    height: 5%;
}

